

body {
	font-size:16px;
	background-color:#F1F1F1;
	font-color:#262626;
	font-family: 'Roboto', sans-serif;
}


/****************************************HEADER****************************************/
.header {
	background-color: #D6D8DA;
	height:auto;
}

.header h1 {
	font-size: 1.9em;
	font-weight: 300;
	margin-bottom:20px;
}

.header ul {
	margin:20px;
	text-transform: uppercase;
	text-align: right;
	padding:15px 0 15px 0;
}


.header li a {
	color:#262626;
	transition: color 0.25s;
}

.header li a:hover {
	text-decoration: none;
	color:white;
	cursor:pointer;
	transition: 0.5s;
}

/*Laptop and PC - меню справа, название слева*/
@media (min-width: 992px) {

}

/*Tablet - название сверху, меню снизу, все поцентру, название уменьшается соответственно разрешению*/
@media (min-width: 768px) and (max-width: 991px) {
	.header {
		text-align:center;
	}
	.header h1 {
		font-size: 3vw;	
		text-transform: uppercase;	
	}
	.header ul {
		text-align: center;
		font-size:18px;
	}
}

/*Mobile - название сверху, меню снизу, меню показывается в колонку*/
@media (max-width: 767px) {
	.header {
		text-align: center;
	}
	.header h1 {
		font-size: 4vw;
		text-transform: uppercase;		
	}
	.header ul {
		font-size: 3vw;
        text-align: center;
        margin:0;
        padding:10px 0 0 0;
        color:white;

	}
	.header li {
		display: block;
		padding-bottom: 6px;
	}
}








/****************************************JUMBOTRON****************************************/
.jumbotron {
	background:url(../img/jumbotron.jpg) no-repeat center center;
	background-size:cover;
	height: 350px;
}

.jumbotron h1{
	text-align:center;
	height: 300px;
}






/****************************************WE OFFER SECTION****************************************/


/****************************************ABOUT US SECTION****************************************/
.we {
	/*background:url() no-repeat center center;
	background-size:cover;*/
	height: auto;
}

/****************************************FOOTER****************************************/
.footer {
	background-color:#2D3340;
	color:white;
	height:100px;
}